
body {
  font-family: 'Samim';
  background: linear-gradient(to right, rgba(229,229,229,1) 0%,rgba(229,229,229,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%),
  url('../img/bg.png');
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}

p {
  direction: rtl;
}


.rtl {
  direction: rtl;
}

.intro {
  background: url('../img/intro-reading.jpg') no-repeat center center fixed;
background-size: cover;
}

.intro-overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(255,0,0,0.5);
}


.card {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.36), 0 7px 20px 0 rgba(0, 0, 0, 0.25);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.login-background {
  background:
  linear-gradient(
    rgba(251, 251, 251, 0.55),
    rgba(251, 251, 251, 0.55)
  ),
  url("img/guy-reading-book.jpg");

  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}














#focusedInput {
  border-color: #ccc;
  border-color: rgba(82,168,236,.8);
  outline: 0;
  box-shadow: none;
}

.r-0 {
  right: 0px;
}


.raibow-botton-border {
  border-bottom: 8px solid;
  border-image:linear-gradient(to right,
    #61c2e4 0%, #61c2e4 25%,
    #f0766b 25%, #f0766b 50%,
    #fad071 50%, #fad071 75%,
    #c4e17f 75%, #c4e17f 100%) 10;
  }

  .similar-book-img {
    height: 152px;
    object-fit: cover;
  }


  .nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

.bg {
  background-color: #f3f3f3;
}

.left {
  min-height: 100%;
}

#intro-background {
  min-height: 100%;
}

.img-bg {
  margin-right: 0px !important;
  min-height: 100%;
  background: url(http://placehold.it/850x650) no-repeat center center;
  background-size: cover;
}

.text-daneh {
  color: #908852;
}

.nav-link {
  color: #212529;
}

.nav-link.active {
  color: #908852 !IMPORTANT;
  font-weight: bold;
}

.footer{
  position: absolute;
  left: 0;
bottom: 0;
width: 100%;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #908852;
  border-bottom: 2px solid #908852;
}
